@import "../../style.scss";

.home {
	@include for-Mobile-S {
		padding-left: 20px;
		width: 100%;
		top: 90px;
		padding-top: 5px;
		box-sizing: border-box;
		padding-bottom: 10px;
	}

	@include themify($themes) {
		// padding: 20px 70px;
		background-color: themed("bgSoft");
		min-height: 100vh;

		@include mobile {
			// padding: 10px;
			width: 100vw;
		}

		@include tablet {
			// padding: 20px;
		}
	}
}
